@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --roxo: #351431;
  --azul: #90FCF9;

  --fontsize-lg: 34px;
  --fontsize-md: 24px;
  --fontsize-sm: 16px;
  --fontsize-xs: 12px;
}

.fontsize-lg {
  font-size: var(--fontsize-lg);
}

.fontsize-md {
  font-size: var(--fontsize-md);
}

.fontsize-sm {
  font-size: var(--fontsize-sm);
}

.fontsize-xs {
  font-size: var(--fontsize-xs);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--roxo);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
